<footer class="footer-global">
  <ul class="container ">
    <li class="footer-item">
      <a class="logo logo-stanford" href="//www.stanford.edu" title="Stanford University logo">Stanford University</a>
        </li>
        <li class="footer-item">
          <a class="logo logo-stanford-som" href="//med.stanford.edu" title="Stanford School of Medicine logo">Stanford School of Medicine</a>
            </li>
            <li class="footer-item">
              <a class="logo logo-stanford-hospital" href="http://stanfordhealthcare.org" title="Stanford Health Care">Stanford Health Care</a>
                </li>
                <li class="footer-item">
                  <a class="logo logo-stanford-childrens" href="http://www.stanfordchildrens.org" title="Stanford Children's Health logo">Stanford Children's Health</a>
    </li>
    <li class="footer-item">
      <a class="logo logo-lpch" href="http://www.stanfordchildrens.org" title="Lucile Packard Children's Hospital Stanford logo">Lucile Packard Children's Hospital Stanford</a>
    </li>
    <li class="footer-item">
      <a class="logo logo-stanford-healthcare" href="http://universityhealthcarealliance.org" title="University Healthcare Alliance logo">University Healthcare Alliance</a>
    </li>
  </ul></footer>